<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384286510916-bjkrpoh2v9j7olee51uiupren1n6hdrg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384286510916-bjkrpoh2v9j7olee51uiupren1n6hdrg</string>
	<key>API_KEY</key>
	<string>AIzaSyBp71Ssbd_j3CzHmB7kVDXDYzk-n_fG5HQ</string>
	<key>GCM_SENDER_ID</key>
	<string>384286510916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterMiniProject1</string>
	<key>PROJECT_ID</key>
	<string>flutter-mini-project-1</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-mini-project-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384286510916:ios:1b1a4481c3c99d4a549111</string>
</dict>
</plist>